<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989382323327-nqfooll87gngh616aoq6cf0k6sna9v0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989382323327-nqfooll87gngh616aoq6cf0k6sna9v0l</string>
	<key>API_KEY</key>
	<string>AIzaSyAnfsUQhkioKrUOe16Pb3UXVy5ipHNseuo</string>
	<key>GCM_SENDER_ID</key>
	<string>989382323327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todorant.app</string>
	<key>PROJECT_ID</key>
	<string>todorant-e99c2</string>
	<key>STORAGE_BUCKET</key>
	<string>todorant-e99c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989382323327:ios:3631727de1ab90e0eae34a</string>
	<key>DATABASE_URL</key>
	<string>https://todorant-e99c2.firebaseio.com</string>
</dict>
</plist>